@import url(http://fonts.googleapis.com/css?family=Lora:400,700);
 $nav-footer-bg: rgba(127,255,212,1);
 $navbar-default-bg: $nav-footer-bg;
 $navbar-default-link-color: #fff ;
 $navbar-default-link-active-color: #CCE5FF;
 $navbar-default-link-hover-color: #CCFFFF;
 $font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
 $navbar-border-radius: 0px;
 $navbar-default-link-active-bg: $navbar-default-bg;
 $input-border-focus: #fff;
 $font-family-base: 'Lora','Helvetica Neue', Helvetica, Arial, sans-serif;

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin showbutton {
	position: absolute;
	bottom: 5px;
	left: 50px;
	right: 50px;
}
//index
.car-block{
	margin: 10px auto;
	.show-btn{
	  border: 0;
  	  background: #0087cc;
	  border-radius: 4px;
	  box-shadow: 0 5px 0 #006599;
	  color: #fff;
	  cursor: pointer;
	  font: inherit;
	  margin: 0;
	  outline: 0;
	  padding: 12px 20px;
	  transition: all .1s linear;
		&:active{
			box-shadow: 0 1px 0 #006599;
  			transform: translateY(5px);
		}
	}
}
.thumbnail{
	height: 450px;
}
.thumbnail div.caption{
	h4,p{
		text-align: center;
	}
	.show-btn{
		@include showbutton;
	}
}
.thumbnail > img{
	width: 100%;
}
.page-header{
	background: rgba(248, 248, 254, 1);
	margin: 0px -15px 0px -15px;
	min-height: 70px;
	margin-bottom: 20px;
	h1{
		margin-top: 0px;
		margin-bottom: 20px;
		min-height: 70px;
		padding-left: -15px;
		padding-top: 30px;
		text-align: center;
		font-size: 50px;
		color: rgba(45, 78, 98,1);
	}
}

//car-show

//nav
.navbar-default{
	margin-bottom: 0px;
}
#make_filter, #kind_filter, #year_filter{
	display: inline-block;

	select{
		color: $navbar-default-link-color;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance:none;
		background: $navbar-default-bg;
		border:none;
		margin-top: 15px;
		cursor: pointer;
	}
	.form-control:focus{
		box-shadow: inset 0 1px 1px rgba(154, 232, 226, 0.9), 0 0 8px rgba(154, 232, 226, 0.9);
		-webkit-box-shadow: inset 0 1px 1px rgba(154, 232, 226, 0.9), 0 0 8px rgba(154, 232, 226, 0.9);
	}
}

.nav_container_row .col-xs-12{
	text-align: center;
}
.vendor_link, .session_toggle{
	margin-top:15px;
	a{
		color: white;
		text-decoration: none;
	}
}
.session_toggle{
	text-align: center;
}

.become_a_vendor{
	width: 50%;
	border-radius: 8px;
	margin-top: 40px;
	h1{
		text-align: center;
	}
	p{
		text-align: center;
	}
}

.filter-group{
	margin-right:30px;
}

//newcar
.newcarlisting{
	h1{
		text-align: center;
	}
}

//purchases

.purchases{
	text-align:center;
}

//footer
.footer{
	min-height: 50px;
	background-color: $nav-footer-bg;
	position: absolute;
  	right: 0px;
  	left: 0px;
  	font-size: 12px;
  	.copyright{
  		display: inline-block;
  		margin-top: 20px;
  		margin-bottom: 20px;
  	}
  	.disclaimer{
  		display: inline-block;
  		margin-top: 15px;
  		margin-bottom: 15px;
  		cursor: pointer;
  	}
}

.log-in-form{
	  border: 50px solid rgba(0,0,0,0);
  	  border-radius: 5px;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      &:hover{
      	border-width: 0;
		border-color: rgba(127,255,212,.5);
		border-style: double;
      }
}
